@use "../variables" as *;
@use "../media" as *;

.advantages {
  position: relative;
  color: $light;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -338px;
    right: 0;
    z-index: -1;
    background-image: url("/img/advantages/big-dog.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 396px;
    height: 682px;

    @include laptop {
      top: -242px;
      width: 272px;
      height: 469px;
    }

    @include tablet {
      top: -176px;
      width: 202px;
      height: 348px;
    }

    @include mobile {
      top: -82px;
      width: 100px;
      height: 169px;
    }
  }
  // .advantages__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @include laptop {
      gap: 20px;
    }

    @include tablet {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    @include mobile {
      gap: 32px;
    }
  }

  // .advantages__item

  &__item {
    padding-top: 268px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: top;
    background-size: 256px;
    background-repeat: no-repeat;

    @include laptop {
      padding-top: 172px;
      background-size: 160px;
    }

    @include mobile {
      padding-top: 86px;
      background-size: 80px;
    }
    &_house {
      background-image: url("/img/advantages/dog-house.png");
    }
    &_food {
      background-image: url("/img/advantages/dog-food.png");
    }
    &_dog {
      background-image: url("/img/advantages/dog.png");
    }
  }

  // .advantages__item-title

  &__item-title {
    font-size: 28px;
    width: min-content;
    margin-bottom: 12px;

    @include laptop {
      font-size: 24px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  // .advantages__item-text

  &__item-text {
    flex: 1 1 auto;
  }

  &__count-box {
    position: absolute;
    top: -120px;
    left: 0;
    width: 306px;
    height: 306px;
    background-image: url("/img/advantages/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include laptop {
      top: -102px;
      width: 257px;
      height: 257px;
    }

    @include tablet {
      width: 201px;
      height: 201px;
    }

    @include mobile {
      top: -73px;
      width: 140px;
      height: 140px;
    }
  }

  // .advantages__count

  &__count {
    font-size: 52px;
    font-weight: 700;

    @include laptop {
      font-size: 44px;
    }

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  // .advantages__count-text

  &__count-text {
    width: min-content;
  }
}
.advantages-bg {
  position: relative;
  padding: 100px 0;
  border-radius: 300px 300px 0 0;
  background-color: $carrot;
  background-image: url("/img/hero/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include laptop {
    padding: 80px 0;
    border-radius: 200px 200px 0 0;
  }
  @include tablet {
    border-radius: 120px 120px 0 0;
  }
  @include mobile {
    padding: 50px 0;
    border-radius: 80px 80px 0 0;
  }
}
