@use "../variables" as *;
@use "../media" as *;

.footer {
  padding: 50px 0 32px;
  background-color: $green;
  color: $light;
  font-size: 16px;
  background-image: url("/img/footer/paw.svg");
  background-repeat: no-repeat;
  background-position: 41vw 50px;
  background-size: contain;

  @include laptop {
    background-size: 311px 295px;
  }

  @include tablet {
    background-image: url("/img/footer/paw-rotate.svg");
    background-size: 215px 203px;
    background-position: 70vw 135px;
  }

  @media (max-width: 575px) {
    background-size: 144px 136px;
    background-position: 61vw 255px;
    font-size: 12px;
  }
  // .footer__container

  &__container {
    display: grid;
    row-gap: 50px;
    grid-template-areas:
      "logo contacts"
      "info contacts";

    @media (max-width: 575px) {
      row-gap: 0;
      grid-template-areas:
        "logo"
        "contacts"
        "info";
    }
  }

  // .footer__logo

  &__logo {
    grid-area: logo;
    margin-bottom: 32px;
  }

  // .footer__info

  &__info {
    grid-area: info;
  }

  // .footer__copyright

  &__copyright {
    margin-bottom: 17px;
  }

  // .footer__text

  &__text {
    margin-bottom: 3px;
  }
}

.developers {
  // .developers__item

  &__item {
    margin-bottom: 3px;
  }

  // .developers__link

  &__link {
    transition: all 0.3s;
    &:hover {
      color: $carrot;
    }
  }
}
.contacts {
  grid-area: contacts;
  justify-self: end;

  @media (max-width: 575px) {
    justify-self: start;
    margin-bottom: 67px;
  }

  // .contacts__link

  &__link {
    margin-bottom: 16px;
    transition: all 0.3s;
    &:hover {
      color: $carrot;
    }
  }
}
.social {
  display: flex;
  gap: 12px;
  // .social__link

  &__link {
    path {
      fill: #fdeee3;
      transition: all 0.3s;
      &:hover {
        fill: $carrot;
      }
    }
  }
}
