$tablet: 1140px;
$laptop: 950px;
$mobile: 480px;

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
